<div class="dashboard-controls-container">
  <nav class="navbar dashboard-controls-inner">
    <a class="navbar-brand">Name</a>
    <a class="navbar-brand">Email</a>
    <a class="navbar-brand">Tags</a>
    <a class="navbar-brand">Last Contacted</a>
    <a class="navbar-brand">Summary</a>
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </nav>
</div>

<div class="dashboard-controls-container" id="contact-container">
  <div class="contact-box">
    <p>John Smith</p>
    <p>jsmithatgmail.com</p>
    <p>N/A</p>
    <p>2024-07-12</p>
    <p class="summary-text">
      summary heresummary heresummary heresummary heresummary here
    </p>
  </div>
</div>

<!-- <div class="contact-container" *ngFor="let contact of contacts">
  <app-contact
    class="row contact align-items-center"
    [contact]="contact"
  ></app-contact>
</div> -->

<div class="message-container" *ngFor="let message of messages">
  <app-message
    class="row message align-items-center"
    [message]="message"
  ></app-message>
</div>
