# OS Files
Thumbs.db
.DS_Store

# node.js
node_modules
uploads
*.sqlite

# dotenv environment variables file
# .env
# .env is included for deployment purposes. It should not be included in the repository.
