.contact {
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.contact-user {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-email {
  padding-top: 5px;
}

.contact-content {
  font-size: 24px;
}
